xsd demo/clients.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="client" type="T_client"/>
	<xs:element name="clients" type="T_clients"/>
	<xs:element name="nom" type="xs:string"/>
	<xs:complexType name="T_client">
		<xs:sequence>
			<xs:element ref="nom"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_clients">
		<xs:sequence>
			<xs:element ref="client" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
