xsd demo/clients demo.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<!ELEMENT nom (#PCDATA)>
<!ELEMENT client (nom)>
<!ELEMENT clients (client+)>
<!ATTLIST clients
	xsi:noNamespaceSchemaLocation CDATA #IMPLIED
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
>
