xsd demo/factures.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema targetNamespace="urn:orsys:demo:xsd:factures" xmlns:c="urn:orsys:demo:xsd:clients" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="factures1.xsd"/>
	<xs:import namespace="urn:orsys:demo:xsd:clients" schemaLocation="factures2.xsd"/>
	<xs:element name="facture" type="T_facture"/>
	<xs:element name="factures" type="T_factures"/>
	<xs:element name="ligne" type="xs:string"/>
	<xs:element name="lignes" type="T_lignes"/>
	<xs:complexType name="T_facture">
		<xs:sequence>
			<xs:element ref="c:client"/>
			<xs:element ref="lignes"/>
		</xs:sequence>
		<xs:attribute ref="numfact" use="required"/>
		<xs:attribute ref="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_factures">
		<xs:sequence>
			<xs:element ref="facture" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_lignes">
		<xs:sequence>
			<xs:element ref="ligne"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
