xsd demo/factures2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema targetNamespace="urn:orsys:demo:xsd:clients" xmlns:c="urn:orsys:demo:xsd:clients" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="client" type="c:T_client"/>
	<xs:element name="mail" type="c:T_mail"/>
	<xs:element name="nom" type="xs:string"/>
	<xs:complexType name="T_client">
		<xs:choice>
			<xs:element ref="c:mail"/>
			<xs:element ref="c:nom"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="T_mail">
	</xs:complexType>
</xs:schema>
