exercices/xml/photo/photo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="titre">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="chartres"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="signature">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="photos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titre"/>
				<xs:element ref="couv" minOccurs="0"/>
				<xs:element ref="pages"/>
				<xs:element ref="signature"/>
			</xs:sequence>
			<xs:attribute name="theme" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						 
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="intercal" type="xs:boolean" use="optional"/>
			<xs:attribute name="OnlyComment" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="page" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="image" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="path" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="C:\signed\"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
				
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="couv" >
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="image"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
